{% extends "object.twig" %}
{% block objectContent %}

<p class="text">
&nbsp;&nbsp;&nbsp;<strong>BMW</strong> - По-русски название «BMW» произносится «бэ-эм-вэ́», что близко к немецкому произношению; изредка встречается написание «БМВ». Существует также несколько «неофициальных» названий: из англоязычного произношения аббревиатуры «би-эм-дабл-ю» для мотоциклов фирмы исторически сложилось название «бимер» (англ. beemer), для автомобилей — похожее, но не равнозначное «биммер» (англ. bimmer)[4]. В России для обозначения марки могут также применяться названия «бэха», «биммер», «бумер»[5], в Греции — «beba», в арабских странах — «BM»[6]. Автомобили также могут называться соответственно их серии, например для 5-й серии — «пятёрка» (нем. Fünfer).<br>
  
  </p>

{% endblock %}