{% extends "object.twig" %}
{% block objectContent %}

  <p class="text">
&nbsp;&nbsp;&nbsp;<strong>Toyota</strong> - по-русски чаще пишется («Тойота») — крупнейшая японская автомобилестроительная корпорация, также предоставляющая финансовые услуги и имеющая несколько дополнительных направлений в бизнесе. Является крупнейшей автомобилестроительной публичной компанией в мире[3], а также крупнейшей публичной компанией в Японии[4]. Главный офис компании находится в городе Тоёта, префектура Айти, Япония. Компания занимает 6 место в Fortune Global 500[5] (2018 год).

Toyota Motor Corporation является основным членом Toyota Group. С этой компанией в основном ассоциируется бренд Toyota. Свою деятельность компания начинала с выпуска автоматических ткацких станков.<br>
  </p>

{% endblock %}